body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    width: 238px;
    height: 92px;
    background-image: url('/img/ele-logo.svg');
    background-size: cover;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    text-align: center;
    margin: 10px;
}

.promo-wrapper {
    display: flex;
}

.promo-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.promo-header {
}

.promo-text {
}

.home-header {
    text-align: center;
}

.home-block-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
}

.home-block {
    max-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    text-align: center;
}

.home-block:hover {
    background-color: #0078d7;
    color: white;
}